<template>
  <div class="about">
    <ProductShow/>
  </div>
</template>

<script>
  import ProductShow from '@/components/ProductShow.vue'

  export default {
    name: 'ProductShowView',
    components: {
      ProductShow
    }
  }
</script>
