<template>
  <div>
    <ProductsIndex/>
  </div>
</template>

<script>
  import ProductsIndex from '@/components/ProductsIndex.vue'

  export default {
  name: 'ProductsIndexView',
  components: {
    ProductsIndex
  }
}
</script>
