<template>
  <div>
    <StoreShow/>
  </div>
</template>

<script>
  import StoreShow from '@/components/StoreShow.vue'

  export default {
  name: 'StoreShowView',
  components: {
    StoreShow
  }
}
</script>
