<template>
  <div>
    <StoresList/>
  </div>
</template>

<script>
  import StoresList from '@/components/StoresList.vue'

  export default {
  name: 'StoreIndexView',
  components: {
    StoresList
  }
}
</script>
