<template>
  <div class="about">
    <StoreProductsList/>
  </div>
</template>

<script>
  import StoreProductsList from '@/components/StoreProductsList.vue'

  export default {
    name: 'StoreProductsView',
    components: {
      StoreProductsList
    }
  }
</script>


