<template>
  <div>
    <h2>
      {{item.name}}
    </h2>
    <div id="Itemlist">
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Rating</th>
        </tr>
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.discount}}</td>
          <td>{{item.rating}}</td>
        </tr>
      </table>
    </div>

  </div>
</template>

<script>
import $ from "jquery";

export default {
  data(){
    return{
      item: []
    }
  },
  mounted: function () {
    var self = this;
    var store_id = self.$route.params.store_id;
    var product_id = self.$route.params.id;
    $.ajax({
      url: '/api/stores/' + store_id + '/products/' + product_id + '.json',
      method: 'GET',
      success: function (data) {
        self.item = data;
        // item_name = item.name
      },
      error: function (error) {
        console.log(error);
      }
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
