<template>
  <div>
    <h2>All Store Products</h2>
    <p>{{ $route.params.store_id }}</p>
    <div id="Itemlist">
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Item</th>
          <th>Price</th>
          <th>Discount</th>
          <th></th>
        </tr>
        
        <tr v-for="item in items" v-bind:key="item.id">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.discount}}</td>
          <td>
            <router-link :to="{ name: 'productshow', params: { store_id: item.store_id, id: item.id } }" >
              Show
            </router-link>
          </td>
        </tr>

      </table>

    </div>

  </div>
</template>

<script>

import $ from "jquery";

export default {
  data(){
    return{
      items: []
    }
  },
  mounted: function () {
    var self = this;
    var store_id = self.$route.params.store_id;
    $.ajax({
      url: '/api/stores/' + store_id + '/products.json', //'/api/products.json',
      method: 'GET',
      success: function (data) {
        self.items = data;
      },
      error: function (error) {
        console.log(error);
      }
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
