<template>
  <div>
    <h2>Stores list</h2>
    <div id="Itemlist">
      <table class="table">
        <tr>
          <th>Item</th>
          <th>Phone</th>
          <th>Rating</th>
          <th></th>
          <th></th>
        </tr>
        <tr v-for="item in items" v-bind:key="item.id">
          <td>{{item.name}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.rating}}</td>
          <td>
            <router-link :to="{ name: 'storeshow', params: { id: item.id } }" >
              Show
            </router-link>
          </td>
          <td>
            <router-link :to="{ name: 'storeproducts', params: { store_id: item.id } }" >
              Store products
            </router-link>
          </td>
        </tr>
      </table>
    </div>

  </div>
</template>

<script>
import $ from "jquery";

export default {
  data(){
    return{
      items: []
    }
  },
  mounted: function () {
    var self = this;
    $.ajax({
      url: '/api/stores.json',
      method: 'GET',
      success: function (data) {
        self.items = data;
      },
      error: function (error) {
        console.log(error);
      }
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
