<template>
  <div>
    <h2>
      {{item.name}}
    </h2>
    <p>{{item.rating}}</p>
    <div id="Itemlist">
      <p>
        {{item.description}}
      </p>
    </div>
    <div v-for="product in products" v-bind:key="product.id" class="products">
      <p>{{ product.name }}</p>
    </div>

  </div>
</template>

<script>
import $ from "jquery";

export default {
  data(){
    return{
      item: [],
      products :[]
    }
  },
  mounted: function () {
    var self = this;
    var store_id = self.$route.params.id
    $.ajax({
      url: '/api/stores/'+ store_id +'.json',
      method: 'GET',
      success: function (data) {
        self.item = data;
      },
      error: function (error) {
        console.log(error);
      }
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
