<template>
  <div>
    <div class="nav">
      <router-link :to= "{name: 'products'}">All Products</router-link> |
      <router-link :to= "{name: 'stores'}">All Stores</router-link> |
    </div>
    <div class="table">
      <router-view/>
      <!-- <component :is="currentView" /> -->
    </div>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0 auto;
  max-width: 800px;
  margin-top: 60px;
}
</style>
